In [7]:
import pandas as pd
import numpy as np
import re
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
header = ["target", "id", "date", "flag", "user", "text"]

tw= pd.read_csv(r"/content/drive/MyDrive/WPI/CS 539 Final Project/Tweet data/training.1600000.processed.noemoticon.csv", encoding='latin-1',names = header)
tw

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [9]:
#Clean the text

#create a function to clean the tweets
def cleanTxt(text):
  text=re.sub(r'@[A-Za-z0-9]+', '',text) #remeoves @mentions
  text=re.sub(r'#','',text) #remove the hashtag symbol
  text=re.sub(r'RT[\s]+', '', text) #remove retweets 
  text=re.sub(r'https?:\/\/\S+', '', text) #remove hyperlink

  return text 

#cleaning text  
tw['text']= tw['text'].apply(cleanTxt)  

#show cleaned text
tw

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"- Awww, that's a bummer. You shoulda got Da..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,I dived many times for the ball. Managed to s...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"no, it's not behaving at all. i'm mad. why am..."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy charitytuesday

In [10]:
#Bound target as 0 for negative and 1 for positive
tw["target"]= tw["target"]/4
tw

,target,id,date,flag,user,text
0,0.0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"- Awww, that's a bummer. You shoulda got Da..."
1,0.0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0.0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,I dived many times for the ball. Managed to s...
3,0.0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0.0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"no, it's not behaving at all. i'm mad. why am..."
...,...,...,...,...,...,...
1599995,1.0,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,1.0,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,1.0,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,1.0,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,1.0,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy charitytuesday

In [ ]:
#Save cleaned data
# path = "/content/drive/MyDrive/CS 539 Final Project/Tweet data/tweets_cleaned.csv"
# with open(path, 'w') as f:
#   tw.to_csv(f, index=False)

In [11]:
lengths = tw["text"].str.len()
argmax = np.where(lengths == lengths.max())[0]
tw.iloc[argmax]

,target,id,date,flag,user,text
1295281,1.0,2003659618,Tue Jun 02 06:55:50 PDT 2009,NO_QUERY,GuroGreenBlooD,_ohm à¹à¸à¹à¸²à¹à¸«à¹à¸?à¸²à¸£à¹à¸à¸¹à¸...

In [12]:
#replacce weird charachters
tw.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [13]:
lengths = tw["text"].str.len()
argmax = np.where(lengths == lengths.max())[0]
tw.iloc[argmax]

,target,id,date,flag,user,text
1447652,1.0,2062646625,Sat Jun 06 23:51:26 PDT 2009,NO_QUERY,karendee,Thriving Ivory's song &quot;Twilight&quot; &gt...

In [14]:
#Replace html tags
import html
tw['text'] = tw.text.apply(lambda x: html.unescape(x))

In [15]:
lengths = tw["text"].str.len()
argmax = np.where(lengths == lengths.max())[0]
tw.iloc[argmax]

,target,id,date,flag,user,text
46,0.0,1467819712,Mon Apr 06 22:22:06 PDT 2009,NO_QUERY,labrt2004,Just checked my user timeline on my blackberry...
73,0.0,1467825883,Mon Apr 06 22:23:43 PDT 2009,NO_QUERY,deelau,"Gym attire today was: Puma singlet, Adidas sho..."
284,0.0,1467881809,Mon Apr 06 22:38:26 PDT 2009,NO_QUERY,wcarss,I would like to apologize for the repeated Vid...
379,0.0,1467908456,Mon Apr 06 22:45:40 PDT 2009,NO_QUERY,ArtyGreig,Bad news was Dad has cancer and is dying Goo...
403,0.0,1467914499,Mon Apr 06 22:47:21 PDT 2009,NO_QUERY,yaaritemuna,Finally gave in and was bored enough to start ...
...,...,...,...,...,...,...
1599446,1.0,2193451675,Tue Jun 16 08:28:38 PDT 2009,NO_QUERY,veddegre,Wireless access has been installed in the Bald...
1599694,1.0,2193503888,Tue Jun 16 08:32:50 PDT 2009,NO_QUERY,andrewdearling,"Hey tweeps, incase you didn't know... Top Gear..."
1599726,1.0,2193525947,Tue Jun 16 08:34:37 PDT 2009,NO_QUERY,cecilioooo,"gara2 mau bikin bunga, laptop gw mati. pettth...."
1599888,1.0,2193554237,Tue Jun 16 08:36:55 PDT 2009,NO_QUERY,krazikiddx09,Getting ready to have a picnic in the park w/ ...
1599928,1.0,2193576360,Tue Jun 16 08:38:44 PDT 2009,NO_QUERY,MandyStocker,dropping molly off getting ice cream with Aaro...

In [ ]:
lengths.max()

138

In [16]:
#Save cleaned data
path = "/content/drive/MyDrive/WPI/CS 539 Final Project/Tweet data/tweets_cleaned.csv"
with open(path, 'w') as f:
  tw.to_csv(f, index=False)